h1, h3, h4 {
  color: #324684;
}
.jumbotron {
  background-color: rgba(72, 0, 1, 0.34);
  margin-top: 30px;
}

#lineChart .axis path,
#lineChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#lineChart .x.axis path {
  display: none;
}

#lineChart .line {
  fill: none;
  stroke: #324684;
  stroke-width: 1.5px;
}

.has-success .form-control:focus {
  border-color: #2B542C;
  box-shadow: inset 5px 10px 20px rgba(0, 0, 0, 0.075), 0 0 34px green;
}

.has-warning .form-control:focus {
  border-color: red;
  box-shadow: inset 5px 10px 20px rgba(0, 0, 0, 0.075), 0 0 34px red;
}